<ion-view title="Page" id="page1">
  <ion-content padding="true" class="has-header">
    <form id="page-form1" class="list">
      <label class="item item-input" id="page-input1">
        <span class="input-label">Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="page-input2">
        <span class="input-label">Last name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="page-input3">
        <span class="input-label">Email</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="page-button1" class="button button-positive button-block">Send</button>
  </ion-content>
</ion-view>